NET  PMOD1_4_LS                LOC = Y20  | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L6P_T0_9
NET  PMOD1_5_LS                LOC = AA20 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_9
NET  PMOD1_6_LS                LOC = AC18 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_9
NET  PMOD1_7_LS                LOC = AC19 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_9
NET  USER_SMA_CLOCK_P          LOC = AD18 | IOSTANDARD=LVDS_25;  # Bank   9 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_9
NET  USER_SMA_CLOCK_N          LOC = AD19 | IOSTANDARD=LVDS_25;  # Bank   9 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_9
NET  SFP_TX_DISABLE            LOC = AA18 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_9
NET  SM_FAN_TACH               LOC = AA19 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_9
NET  SM_FAN_PWM                LOC = AB19 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_9
NET  PWRCTL1_FMC_PG_C2M_LS     LOC = AB20 | IOSTANDARD=LVCMOS25; # Bank   9 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_9
NET  REC_CLOCK_C_P             LOC = AD20 | IOSTANDARD=LVDS_25;  # Bank   9 VCCO - VADJ_FPGA - IO_L19P_T3_9
NET  REC_CLOCK_C_N             LOC = AE20 | IOSTANDARD=LVDS_25;  # Bank   9 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_9
NET  PL_PJTAG_TDO_R            LOC = AA13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_0_10
NET  PL_PJTAG_TCK              LOC = AK13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L1P_T0_10
NET  PL_PJTAG_TMS              LOC = AK12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L1N_T0_10
NET  PL_PJTAG_TDI              LOC = AH18 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L2P_T0_10
NET  IIC_SDA_MAIN_LS           LOC = AJ18 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L2N_T0_10
NET  IIC_SCL_MAIN_LS           LOC = AJ14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_10
NET  GPIO_DIP_SW3              LOC = AJ13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_10
NET  FMC_LPC_LA11_P            LOC = AJ16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L4P_T0_10
NET  FMC_LPC_LA11_N            LOC = AK16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L4N_T0_10
NET  FMC_LPC_LA04_P            LOC = AJ15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L5P_T0_10
NET  FMC_LPC_LA04_N            LOC = AK15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L5N_T0_10
NET  FMC_LPC_LA13_P            LOC = AH17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L6P_T0_10
NET  FMC_LPC_LA13_N            LOC = AH16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_10
NET  FMC_LPC_LA02_P            LOC = AE12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L7P_T1_10
NET  FMC_LPC_LA02_N            LOC = AF12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L7N_T1_10
NET  FMC_LPC_LA09_P            LOC = AH14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L8P_T1_10
NET  FMC_LPC_LA09_N            LOC = AH13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L8N_T1_10
NET  FMC_LPC_LA08_P            LOC = AD14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_10
NET  FMC_LPC_LA08_N            LOC = AD13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_10
NET  FMC_LPC_LA03_P            LOC = AG12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L10P_T1_10
NET  FMC_LPC_LA03_N            LOC = AH12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L10N_T1_10
NET  FMC_LPC_LA00_CC_P         LOC = AE13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_10
NET  FMC_LPC_LA00_CC_N         LOC = AF13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_10
NET  USRCLK_P                  LOC = AF14 | IOSTANDARD=LVDS_25;  # Bank  10 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_10
NET  USRCLK_N                  LOC = AG14 | IOSTANDARD=LVDS_25;  # Bank  10 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_10
NET  FMC_LPC_CLK0_M2C_P        LOC = AG17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_10
NET  FMC_LPC_CLK0_M2C_N        LOC = AG16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_10
NET  FMC_LPC_LA01_CC_P         LOC = AF15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_10
NET  FMC_LPC_LA01_CC_N         LOC = AG15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_10
NET  FMC_LPC_LA14_P            LOC = AF18 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_10
NET  FMC_LPC_LA14_N            LOC = AF17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_10
NET  FMC_LPC_LA05_P            LOC = AE16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L16P_T2_10
NET  FMC_LPC_LA05_N            LOC = AE15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L16N_T2_10
NET  FMC_LPC_LA16_P            LOC = AE18 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L17P_T2_10
NET  FMC_LPC_LA16_N            LOC = AE17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L17N_T2_10
NET  FMC_LPC_LA12_P            LOC = AD16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L18P_T2_10
NET  FMC_LPC_LA12_N            LOC = AD15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L18N_T2_10
NET  FMC_LPC_LA10_P            LOC = AC14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L19P_T3_10
NET  FMC_LPC_LA10_N            LOC = AC13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_10
NET  FMC_LPC_LA07_P            LOC = AA15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L20P_T3_10
NET  FMC_LPC_LA07_N            LOC = AA14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L20N_T3_10
NET  FMC_LPC_LA06_P            LOC = AB12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_10
NET  FMC_LPC_LA06_N            LOC = AC12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_10
NET  FMC_LPC_LA15_P            LOC = AB15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L22P_T3_10
NET  FMC_LPC_LA15_N            LOC = AB14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L22N_T3_10
NET  GPIO_DIP_SW2              LOC = AC17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L23P_T3_10
NET  GPIO_DIP_SW1              LOC = AC16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L23N_T3_10
NET  GPIO_DIP_SW0              LOC = AB17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L24P_T3_10
NET  PMOD1_3_LS                LOC = AB16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L24N_T3_10
NET  IIC_RTC_IRQ_1_B           LOC = AA17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_25_10
NET  SI5324_RST_LS             LOC = W23  | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_0_11
NET  SI5324_INT_ALM_LS         LOC = AJ25 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L1P_T0_11
NET  GPIO_SW_LEFT              LOC = AK25 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L1N_T0_11
NET  PCIE_WAKE_B_LS            LOC = AK22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L2P_T0_11
NET  PCIE_PERST_LS             LOC = AK23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L2N_T0_11
NET  PMOD1_0_LS                LOC = AJ21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_11
NET  PMOD1_1_LS                LOC = AK21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_11
NET  FMC_HPC_LA07_P            LOC = AJ23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L4P_T0_11
NET  FMC_HPC_LA07_N            LOC = AJ24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L4N_T0_11
NET  FMC_HPC_LA05_P            LOC = AH23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L5P_T0_11
NET  FMC_HPC_LA05_N            LOC = AH24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L5N_T0_11
NET  FMC_HPC_LA06_P            LOC = AG22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L6P_T0_11
NET  FMC_HPC_LA06_N            LOC = AH22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_11
NET  FMC_HPC_LA14_P            LOC = AC24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L7P_T1_11
NET  FMC_HPC_LA14_N            LOC = AD24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L7N_T1_11
NET  FMC_HPC_LA10_P            LOC = AG24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L8P_T1_11
NET  FMC_HPC_LA10_N            LOC = AG25 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L8N_T1_11
NET  FMC_HPC_LA12_P            LOC = AF23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_11
NET  FMC_HPC_LA12_N            LOC = AF24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_11
NET  FMC_HPC_LA09_P            LOC = AD21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L10P_T1_11
NET  FMC_HPC_LA09_N            LOC = AE21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L10N_T1_11
NET  FMC_HPC_LA11_P            LOC = AD23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_11
NET  FMC_HPC_LA11_N            LOC = AE23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_11
NET  FMC_HPC_CLK0_M2C_P        LOC = AE22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_11
NET  FMC_HPC_CLK0_M2C_N        LOC = AF22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_11
NET  FMC_HPC_LA01_CC_P         LOC = AG21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_11
NET  FMC_HPC_LA01_CC_N         LOC = AH21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_11
NET  FMC_HPC_LA00_CC_P         LOC = AF20 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_11
NET  FMC_HPC_LA00_CC_N         LOC = AG20 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_11
NET  FMC_HPC_LA04_P            LOC = AJ20 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_11
NET  FMC_HPC_LA04_N            LOC = AK20 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_11
NET  FMC_HPC_LA02_P            LOC = AK17 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L16P_T2_11
NET  FMC_HPC_LA02_N            LOC = AK18 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L16N_T2_11
NET  FMC_HPC_LA03_P            LOC = AH19 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L17P_T2_11
NET  FMC_HPC_LA03_N            LOC = AJ19 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L17N_T2_11
NET  FMC_HPC_LA08_P            LOC = AF19 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L18P_T2_11
NET  FMC_HPC_LA08_N            LOC = AG19 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L18N_T2_11
NET  PMOD1_2_LS                LOC = AB21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L19P_T3_11
NET  HDMI_SPDIF_OUT_LS         LOC = AB22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_11
NET  GPIO_LED_RIGHT            LOC = W21  | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L20P_T3_11
NET  GPIO_LED_LEFT             LOC = Y21  | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L20N_T3_11
NET  FMC_HPC_LA15_P            LOC = Y22  | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_11
NET  FMC_HPC_LA15_N            LOC = Y23  | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_11
NET  FMC_HPC_LA16_P            LOC = AA24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L22P_T3_11
NET  FMC_HPC_LA16_N            LOC = AB24 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L22N_T3_11
NET  FMC_HPC_LA13_P            LOC = AA22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L23P_T3_11
NET  FMC_HPC_LA13_N            LOC = AA23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L23N_T3_11
NET  HDMI_R_D35                LOC = AC22 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L24P_T3_11
NET  HDMI_INT                  LOC = AC23 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_L24N_T3_11
NET  HDMI_R_SPDIF              LOC = AC21 | IOSTANDARD=LVCMOS25; # Bank  11 VCCO - VADJ_FPGA - IO_25_11
NET  HDMI_R_D21                LOC = Y25  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_0_12
NET  FMC_LPC_LA33_P            LOC = Y30  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L1P_T0_12
NET  FMC_LPC_LA33_N            LOC = AA30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L1N_T0_12
NET  FMC_LPC_LA30_P            LOC = AB29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L2P_T0_12
NET  FMC_LPC_LA30_N            LOC = AB30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L2N_T0_12
NET  FMC_LPC_LA32_P            LOC = Y26  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_12
NET  FMC_LPC_LA32_N            LOC = Y27  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_12
NET  HDMI_R_D28                LOC = Y28  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L4P_T0_12
NET  HDMI_R_D22                LOC = AA29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L4N_T0_12
NET  HDMI_R_D31                LOC = AA27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L5P_T0_12
NET  HDMI_R_D18                LOC = AA28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L5N_T0_12
NET  HDMI_R_D10                LOC = AB25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L6P_T0_12
NET  HDMI_R_D17                LOC = AB26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_12
NET  HDMI_R_D19                LOC = AC26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L7P_T1_12
NET  HDMI_R_D16                LOC = AD26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L7N_T1_12
NET  HDMI_R_D23                LOC = AD30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L8P_T1_12
NET  HDMI_R_D20                LOC = AE30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L8N_T1_12
NET  FMC_LPC_LA31_P            LOC = AC29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_12
NET  FMC_LPC_LA31_N            LOC = AD29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_12
NET  FMC_LPC_LA28_P            LOC = AD25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L10P_T1_12
NET  FMC_LPC_LA28_N            LOC = AE26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L10N_T1_12
NET  FMC_LPC_LA17_CC_P         LOC = AB27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_12
NET  FMC_LPC_LA17_CC_N         LOC = AC27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_12
NET  FMC_LPC_CLK1_M2C_P        LOC = AC28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_12
NET  FMC_LPC_CLK1_M2C_N        LOC = AD28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_12
NET  HDMI_R_D8                 LOC = AE28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_12
NET  HDMI_R_D29                LOC = AF28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_12
NET  FMC_LPC_LA18_CC_P         LOC = AE27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_12
NET  FMC_LPC_LA18_CC_N         LOC = AF27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_12
NET  FMC_LPC_LA25_P            LOC = AF29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_12
NET  FMC_LPC_LA25_N            LOC = AG29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_12
NET  FMC_LPC_LA24_P            LOC = AF30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L16P_T2_12
NET  FMC_LPC_LA24_N            LOC = AG30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L16N_T2_12
NET  FMC_LPC_LA20_P            LOC = AG26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L17P_T2_12
NET  FMC_LPC_LA20_N            LOC = AG27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L17N_T2_12
NET  FMC_LPC_LA29_P            LOC = AE25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L18P_T2_12
NET  FMC_LPC_LA29_N            LOC = AF25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L18N_T2_12
NET  FMC_LPC_LA21_P            LOC = AH28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L19P_T3_12
NET  FMC_LPC_LA21_N            LOC = AH29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_12
NET  FMC_LPC_LA26_P            LOC = AJ30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L20P_T3_12
NET  FMC_LPC_LA26_N            LOC = AK30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L20N_T3_12
NET  FMC_LPC_LA27_P            LOC = AJ28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_12
NET  FMC_LPC_LA27_N            LOC = AJ29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_12
NET  FMC_LPC_LA22_P            LOC = AK27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L22P_T3_12
NET  FMC_LPC_LA22_N            LOC = AK28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L22N_T3_12
NET  FMC_LPC_LA19_P            LOC = AH26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L23P_T3_12
NET  FMC_LPC_LA19_N            LOC = AH27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L23N_T3_12
NET  FMC_LPC_LA23_P            LOC = AJ26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L24P_T3_12
NET  FMC_LPC_LA23_N            LOC = AK26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L24N_T3_12
NET  HDMI_R_D7                 LOC = AA25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_25_12
NET  HDMI_R_VSYNC              LOC = U21  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_0_13
NET  FMC_HPC_LA28_P            LOC = P30  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L1P_T0_13
NET  FMC_HPC_LA28_N            LOC = R30  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L1N_T0_13
NET  FMC_HPC_LA24_P            LOC = T30  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L2P_T0_13
NET  FMC_HPC_LA24_N            LOC = U30  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L2N_T0_13
NET  HDMI_R_D33                LOC = N28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_13
NET  HDMI_R_CLK                LOC = P28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_13
NET  FMC_HPC_LA31_P            LOC = N29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L4P_T0_13
NET  FMC_HPC_LA31_N            LOC = P29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L4N_T0_13
NET  FMC_HPC_LA25_P            LOC = T29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L5P_T0_13
NET  FMC_HPC_LA25_N            LOC = U29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L5N_T0_13
NET  FMC_HPC_LA26_P            LOC = R28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L6P_T0_13
NET  FMC_HPC_LA26_N            LOC = T28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_13
NET  FMC_HPC_LA27_P            LOC = V28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L7P_T1_13
NET  FMC_HPC_LA27_N            LOC = V29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L7N_T1_13
NET  FMC_HPC_LA21_P            LOC = W29  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L8P_T1_13
NET  FMC_HPC_LA21_N            LOC = W30  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L8N_T1_13
NET  FMC_HPC_LA22_P            LOC = V27  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_13
NET  FMC_HPC_LA22_N            LOC = W28  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_13
NET  FMC_HPC_LA18_CC_P         LOC = W25  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L10P_T1_13
NET  FMC_HPC_LA18_CC_N         LOC = W26  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L10N_T1_13
NET  FMC_HPC_LA20_P            LOC = U25  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_13
NET  FMC_HPC_LA20_N            LOC = V26  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_13
NET  FMC_HPC_CLK1_M2C_P        LOC = U26  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_13
NET  FMC_HPC_CLK1_M2C_N        LOC = U27  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_13
NET  FMC_HPC_LA29_P            LOC = R25  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_13
NET  FMC_HPC_LA29_N            LOC = R26  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_13
NET  GPIO_SW_RIGHT             LOC = R27  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_13
NET  HDMI_R_D11                LOC = T27  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_13
NET  FMC_HPC_LA33_P            LOC = N26  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_13
NET  FMC_HPC_LA33_N            LOC = N27  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_13
NET  FMC_HPC_LA23_P            LOC = P25  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L16P_T2_13
NET  FMC_HPC_LA23_N            LOC = P26  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L16N_T2_13
NET  FMC_HPC_LA19_P            LOC = T24  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L17P_T2_13
NET  FMC_HPC_LA19_N            LOC = T25  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L17N_T2_13
NET  FMC_HPC_LA30_P            LOC = P23  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L18P_T2_13
NET  FMC_HPC_LA30_N            LOC = P24  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L18N_T2_13
NET  FMC_HPC_LA32_P            LOC = P21  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L19P_T3_13
NET  FMC_HPC_LA32_N            LOC = R21  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_13
NET  HDMI_R_D5                 LOC = T22  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L20P_T3_13
NET  HDMI_R_D9                 LOC = T23  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L20N_T3_13
NET  HDMI_R_HSYNC              LOC = R22  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_13
NET  HDMI_R_D6                 LOC = R23  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_13
NET  HDMI_R_D32                LOC = U22  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L22P_T3_13
NET  HDMI_R_D30                LOC = V22  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L22N_T3_13
NET  HDMI_R_D4                 LOC = U24  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L23P_T3_13
NET  HDMI_R_DE                 LOC = V24  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L23N_T3_13
NET  FMC_HPC_LA17_CC_P         LOC = V23  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L24P_T3_13
NET  FMC_HPC_LA17_CC_N         LOC = W24  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_L24N_T3_13
NET  HDMI_R_D34                LOC = V21  | IOSTANDARD=LVCMOS25; # Bank  13 VCCO - VADJ_FPGA - IO_25_13
#NET  VRN_33                    LOC = L5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_0_VRN_33
NET  PL_DDR3_D3                LOC = J4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L1P_T0_33
NET  PL_DDR3_DM0               LOC = J3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L1N_T0_33
NET  PL_DDR3_D0                LOC = L1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L2P_T0_33
NET  PL_DDR3_D4                LOC = K1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L2N_T0_33
NET  PL_DDR3_DQS0_P            LOC = K3   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L3P_T0_DQS_33
NET  PL_DDR3_DQS0_N            LOC = K2   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L3N_T0_DQS_33
NET  PL_DDR3_D5                LOC = L3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L4P_T0_33
NET  PL_DDR3_D1                LOC = L2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L4N_T0_33
NET  PL_DDR3_D2                LOC = K5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L5P_T0_33
NET  PL_DDR3_D6                LOC = J5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L5N_T0_33
NET  PL_DDR3_D7                LOC = K6   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L6P_T0_33
#NET  VTTVREF_SODIMM            LOC = J6   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L6N_T0_VREF_33
NET  GPIO_LED_CENTER           LOC = G2   | IOSTANDARD=LVCMOS15; # Bank  33 VCCO - VCC1V5_PL - IO_L7P_T1_33
NET  PL_DDR3_DM1               LOC = F2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L7N_T1_33
NET  PL_DDR3_D10               LOC = H6   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L8P_T1_33
NET  PL_DDR3_D8                LOC = G6   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L8N_T1_33
NET  PL_DDR3_DQS1_P            LOC = J1   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L9P_T1_DQS_33
NET  PL_DDR3_DQS1_N            LOC = H1   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L9N_T1_DQS_33
NET  PL_DDR3_D13               LOC = H2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L10P_T1_33
NET  PL_DDR3_D12               LOC = G1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L10N_T1_33
NET  PL_DDR3_D9                LOC = H4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L11P_T1_SRCC_33
NET  PL_DDR3_D11               LOC = H3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L11N_T1_SRCC_33
NET  PL_DDR3_D14               LOC = G5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L12P_T1_MRCC_33
NET  PL_DDR3_D15               LOC = G4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L12N_T1_MRCC_33
NET  6N1792                    LOC = F5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L13P_T2_MRCC_33
NET  PL_DDR3_D19               LOC = E5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L13N_T2_MRCC_33
NET  PL_DDR3_D20               LOC = F4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L14P_T2_SRCC_33
NET  PL_DDR3_D21               LOC = F3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L14N_T2_SRCC_33
NET  PL_DDR3_DQS2_P            LOC = E6   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L15P_T2_DQS_33
NET  PL_DDR3_DQS2_N            LOC = D5   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L15N_T2_DQS_33
NET  PL_DDR3_D18               LOC = D4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L16P_T2_33
NET  PL_DDR3_D23               LOC = D3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L16N_T2_33
NET  PL_DDR3_D17               LOC = E3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L17P_T2_33
NET  PL_DDR3_D16               LOC = E2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L17N_T2_33
NET  PL_DDR3_DM2               LOC = E1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L18P_T2_33
NET  PL_DDR3_D22               LOC = D1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L18N_T2_33
NET  PL_DDR3_D31               LOC = C4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L19P_T3_33
#NET  VTTVREF_SODIMM            LOC = C3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L19N_T3_VREF_33
NET  PL_DDR3_D27               LOC = B5   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L20P_T3_33
NET  PL_DDR3_D26               LOC = B4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L20N_T3_33
NET  PL_DDR3_DQS3_P            LOC = A5   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L21P_T3_DQS_33
NET  PL_DDR3_DQS3_N            LOC = A4   | IOSTANDARD=DIFF_SSTL15; # Bank  33 VCCO - VCC1V5_PL - IO_L21N_T3_DQS_33
NET  PL_DDR3_DM3               LOC = C2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L22P_T3_33
NET  PL_DDR3_D30               LOC = C1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L22N_T3_33
NET  PL_DDR3_D25               LOC = B2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L23P_T3_33
NET  PL_DDR3_D29               LOC = B1   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L23N_T3_33
NET  PL_DDR3_D28               LOC = A3   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L24P_T3_33
NET  PL_DDR3_D24               LOC = A2   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_L24N_T3_33
#NET  VRP_33                    LOC = L4   | IOSTANDARD=SSTL15;   # Bank  33 VCCO - VCC1V5_PL - IO_25_VRP_33
NET  6N2017                    LOC = M12  | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_PL - IO_0_VRN_34
NET  PL_DDR3_A8                LOC = B10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L1P_T0_34
NET  PL_DDR3_A13               LOC = A10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L1N_T0_34
NET  PL_DDR3_A1                LOC = B9   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L2P_T0_34
NET  PL_DDR3_A3                LOC = A9   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L2N_T0_34
NET  PL_CPU_RESET              LOC = A8   | IOSTANDARD=LVCMOS15; # Bank  34 VCCO - VCC1V5_PL - IO_L3P_T0_DQS_PUDC_B_34
NET  PL_DDR3_BA2               LOC = A7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L3N_T0_DQS_34
NET  PL_DDR3_CKE1              LOC = C7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L4P_T0_34
NET  PL_DDR3_A11               LOC = B7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L4N_T0_34
NET  PL_DDR3_A15               LOC = C6   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L5P_T0_34
NET  PL_DDR3_A5                LOC = B6   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L5N_T0_34
NET  PL_DDR3_ODT1              LOC = C9   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L6P_T0_34
#NET  VTTVREF_SODIMM            LOC = C8   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L6N_T0_VREF_34
NET  PL_DDR3_S0_B              LOC = J11  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L7P_T1_34
NET  PL_DDR3_RAS_B             LOC = H11  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L7N_T1_34
NET  PL_DDR3_A2                LOC = E11  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L8P_T1_34
NET  PL_DDR3_A4                LOC = D11  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L8N_T1_34
NET  PL_DDR3_A12               LOC = H12  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L9P_T1_DQS_34
NET  PL_DDR3_A14               LOC = G11  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L9N_T1_DQS_34
NET  PL_DDR3_A0                LOC = E10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L10P_T1_34
NET  PL_DDR3_CKE0              LOC = D10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L10N_T1_34
NET  PL_DDR3_CLK0_P            LOC = G10  | IOSTANDARD=DIFF_SSTL15; # Bank  34 VCCO - VCC1V5_PL - IO_L11P_T1_SRCC_34
NET  PL_DDR3_CLK0_N            LOC = F10  | IOSTANDARD=DIFF_SSTL15; # Bank  34 VCCO - VCC1V5_PL - IO_L11N_T1_SRCC_34
NET  PL_DDR3_CLK1_P            LOC = D9   | IOSTANDARD=DIFF_SSTL15; # Bank  34 VCCO - VCC1V5_PL - IO_L12P_T1_MRCC_34
NET  PL_DDR3_CLK1_N            LOC = D8   | IOSTANDARD=DIFF_SSTL15; # Bank  34 VCCO - VCC1V5_PL - IO_L12N_T1_MRCC_34
NET  SYSCLK_P                  LOC = H9   | IOSTANDARD=LVDS;     # Bank  34 VCCO - VCC1V5_PL - IO_L13P_T2_MRCC_34
NET  SYSCLK_N                  LOC = G9   | IOSTANDARD=LVDS;     # Bank  34 VCCO - VCC1V5_PL - IO_L13N_T2_MRCC_34
NET  PL_DDR3_A6                LOC = F9   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L14P_T2_SRCC_34
NET  PL_DDR3_A7                LOC = E8   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L14N_T2_SRCC_34
NET  PL_DDR3_A9                LOC = J8   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L15P_T2_DQS_34
NET  PL_DDR3_S1_B              LOC = H8   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L15N_T2_DQS_34
NET  PL_DDR3_BA0               LOC = F8   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L16P_T2_34
NET  PL_DDR3_WE_B              LOC = F7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L16N_T2_34
NET  PL_DDR3_CAS_B             LOC = E7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L17P_T2_34
NET  PL_DDR3_A10               LOC = D6   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L17N_T2_34
NET  PL_DDR3_BA1               LOC = H7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L18P_T2_34
NET  PL_DDR3_ODT0              LOC = G7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L18N_T2_34
NET  PL_DDR3_D39               LOC = L7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L19P_T3_34
#NET  VTTVREF_SODIMM            LOC = K7   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L19N_T3_VREF_34
NET  PL_DDR3_D38               LOC = J10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L20P_T3_34
NET  PL_DDR3_D35               LOC = J9   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L20N_T3_34
NET  PL_DDR3_DQS4_P            LOC = L8   | IOSTANDARD=DIFF_SSTL15; # Bank  34 VCCO - VCC1V5_PL - IO_L21P_T3_DQS_34
NET  PL_DDR3_DQS4_N            LOC = K8   | IOSTANDARD=DIFF_SSTL15; # Bank  34 VCCO - VCC1V5_PL - IO_L21N_T3_DQS_34
NET  PL_DDR3_D36               LOC = K11  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L22P_T3_34
NET  PL_DDR3_D32               LOC = K10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L22N_T3_34
NET  PL_DDR3_D37               LOC = L10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L23P_T3_34
NET  PL_DDR3_D33               LOC = L9   | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L23N_T3_34
NET  PL_DDR3_DM4               LOC = L12  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L24P_T3_34
NET  PL_DDR3_D34               LOC = K12  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_L24N_T3_34
NET  PL_DDR3_TEMP_EVENT        LOC = M10  | IOSTANDARD=SSTL15;   # Bank  34 VCCO - VCC1V5_PL - IO_25_VRP_34
#NET  VRN_35                    LOC = K16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_0_VRN_35
NET  XADC_VAUX0P_R             LOC = L15  | IOSTANDARD=LVCMOS5;  # Bank  35 VCCO - VCC1V5_PL - IO_L1P_T0_AD0P_35
NET  XADC_VAUX0N_R             LOC = L14  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L1N_T0_AD0N_35
NET  XADC_VAUX8P_R             LOC = J13  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L2P_T0_AD8P_35
NET  XADC_VAUX8N_R             LOC = H13  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L2N_T0_AD8N_35
NET  XADC_AD1_R_P              LOC = L13  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L3P_T0_DQS_AD1P_35
NET  XADC_AD1_R_N              LOC = K13  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L3N_T0_DQS_AD1N_35
NET  XADC_GPIO_3               LOC = J14  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L4P_T0_35
NET  XADC_GPIO_0               LOC = H14  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L4N_T0_35
NET  GPIO_SW_CENTER            LOC = K15  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L5P_T0_AD9P_35
NET  XADC_GPIO_1               LOC = J15  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L5N_T0_AD9N_35
NET  XADC_GPIO_2               LOC = J16  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L6P_T0_35
#NET  VTTVREF_SODIMM            LOC = H16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L6N_T0_VREF_35
NET  PL_DDR3_RESET_B           LOC = G17  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L7P_T1_AD2P_35
NET  PL_DDR3_D43               LOC = G16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L7N_T1_AD2N_35
NET  PL_DDR3_D44               LOC = G15  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L8P_T1_AD10P_35
NET  PL_DDR3_DM5               LOC = G14  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L8N_T1_AD10N_35
NET  PL_DDR3_DQS5_P            LOC = G12  | IOSTANDARD=DIFF_SSTL15; # Bank  35 VCCO - VCC1V5_PL - IO_L9P_T1_DQS_AD3P_35
NET  PL_DDR3_DQS5_N            LOC = F12  | IOSTANDARD=DIFF_SSTL15; # Bank  35 VCCO - VCC1V5_PL - IO_L9N_T1_DQS_AD3N_35
NET  PL_DDR3_D42               LOC = F13  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L10P_T1_AD11P_35
NET  PL_DDR3_D45               LOC = E12  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L10N_T1_AD11N_35
NET  PL_DDR3_D47               LOC = E13  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L11P_T1_SRCC_35
NET  PL_DDR3_D46               LOC = D13  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L11N_T1_SRCC_35
NET  PL_DDR3_D41               LOC = F15  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L12P_T1_MRCC_35
NET  PL_DDR3_D40               LOC = F14  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L12N_T1_MRCC_35
NET  PL_DDR3_D51               LOC = E16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L13P_T2_MRCC_35
NET  PL_DDR3_D49               LOC = E15  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L13N_T2_MRCC_35
NET  PL_DDR3_D48               LOC = D15  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L14P_T2_AD4P_SRCC_35
NET  PL_DDR3_D54               LOC = D14  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L14N_T2_AD4N_SRCC_35
NET  PL_DDR3_DQS6_P            LOC = F17  | IOSTANDARD=DIFF_SSTL15; # Bank  35 VCCO - VCC1V5_PL - IO_L15P_T2_DQS_AD12P_35
NET  PL_DDR3_DQS6_N            LOC = E17  | IOSTANDARD=DIFF_SSTL15; # Bank  35 VCCO - VCC1V5_PL - IO_L15N_T2_DQS_AD12N_35
NET  PL_DDR3_D50               LOC = D16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L16P_T2_35
NET  PL_DDR3_DM6               LOC = C16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L16N_T2_35
NET  PL_DDR3_D52               LOC = C17  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L17P_T2_AD5P_35
NET  PL_DDR3_D53               LOC = B16  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L17N_T2_AD5N_35
NET  PL_DDR3_D55               LOC = B17  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L18P_T2_AD13P_35
NET  GPIO_LED_0                LOC = A17  | IOSTANDARD=LVCMOS15; # Bank  35 VCCO - VCC1V5_PL - IO_L18N_T2_AD13N_35
NET  PL_DDR3_D62               LOC = C14  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L19P_T3_35
#NET  VTTVREF_SODIMM            LOC = C13  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L19N_T3_VREF_35
NET  PL_DDR3_D57               LOC = C12  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L20P_T3_AD6P_35
NET  PL_DDR3_D56               LOC = B12  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L20N_T3_AD6N_35
NET  PL_DDR3_DQS7_P            LOC = B15  | IOSTANDARD=DIFF_SSTL15; # Bank  35 VCCO - VCC1V5_PL - IO_L21P_T3_DQS_AD14P_35
NET  PL_DDR3_DQS7_N            LOC = A15  | IOSTANDARD=DIFF_SSTL15; # Bank  35 VCCO - VCC1V5_PL - IO_L21N_T3_DQS_AD14N_35
NET  PL_DDR3_DM7               LOC = C11  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L22P_T3_AD7P_35
NET  PL_DDR3_D61               LOC = B11  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L22N_T3_AD7N_35
NET  PL_DDR3_D63               LOC = B14  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L23P_T3_35
NET  PL_DDR3_D59               LOC = A14  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L23N_T3_35
NET  PL_DDR3_D60               LOC = A13  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L24P_T3_AD15P_35
NET  PL_DDR3_D58               LOC = A12  | IOSTANDARD=SSTL15;   # Bank  35 VCCO - VCC1V5_PL - IO_L24N_T3_AD15N_35
#NET  VRP_35                    LOC = M16  | IOSTANDARD=SSTL15;    # Bank  35 VCCO - VCC1V5_PL - IO_25_VRP_35
NET  FMC_HPC_DP3_C2M_P         LOC = AK2                       ; # Bank 109                 - MGTXTXP3_109
NET  FMC_HPC_DP3_M2C_P         LOC = AE8                       ; # Bank 109                 - MGTXRXP3_109
NET  FMC_HPC_DP3_C2M_N         LOC = AK1                       ; # Bank 109                 - MGTXTXN3_109
NET  FMC_HPC_DP3_M2C_N         LOC = AE7                       ; # Bank 109                 - MGTXRXN3_109
NET  FMC_HPC_DP2_C2M_P         LOC = AJ4                       ; # Bank 109                 - MGTXTXP2_109
NET  FMC_HPC_DP2_M2C_P         LOC = AG8                       ; # Bank 109                 - MGTXRXP2_109
NET  FMC_HPC_DP2_C2M_N         LOC = AJ3                       ; # Bank 109                 - MGTXTXN2_109
NET  FMC_HPC_GBTCLK0_M2C_C_P   LOC = AD10                      ; # Bank 109                 - MGTREFCLK0P_109
NET  FMC_HPC_DP2_M2C_N         LOC = AG7                       ; # Bank 109                 - MGTXRXN2_109
NET  FMC_HPC_GBTCLK0_M2C_C_N   LOC = AD9                       ; # Bank 109                 - MGTREFCLK0N_109
NET  8N241                     LOC = AF9                       ; # Bank 109                 - MGTREFCLK1N_109
NET  8N242                     LOC = AF10                      ; # Bank 109                 - MGTREFCLK1P_109
NET  FMC_HPC_DP1_C2M_P         LOC = AK6                       ; # Bank 109                 - MGTXTXP1_109
NET  FMC_HPC_DP1_M2C_P         LOC = AJ8                       ; # Bank 109                 - MGTXRXP1_109
NET  FMC_HPC_DP1_C2M_N         LOC = AK5                       ; # Bank 109                 - MGTXTXN1_109
NET  FMC_HPC_DP1_M2C_N         LOC = AJ7                       ; # Bank 109                 - MGTXRXN1_109
NET  FMC_HPC_DP0_C2M_P         LOC = AK10                      ; # Bank 109                 - MGTXTXP0_109
NET  FMC_HPC_DP0_M2C_P         LOC = AH10                      ; # Bank 109                 - MGTXRXP0_109
NET  FMC_HPC_DP0_C2M_N         LOC = AK9                       ; # Bank 109                 - MGTXTXN0_109
NET  FMC_HPC_DP0_M2C_N         LOC = AH9                       ; # Bank 109                 - MGTXRXN0_109
NET  FMC_HPC_DP7_C2M_P         LOC = AD2                       ; # Bank 110                 - MGTXTXP3_110
NET  FMC_HPC_DP7_M2C_P         LOC = AD6                       ; # Bank 110                 - MGTXRXP3_110
NET  FMC_HPC_DP7_C2M_N         LOC = AD1                       ; # Bank 110                 - MGTXTXN3_110
NET  FMC_HPC_DP7_M2C_N         LOC = AD5                       ; # Bank 110                 - MGTXRXN3_110
NET  FMC_HPC_DP6_C2M_P         LOC = AE4                       ; # Bank 110                 - MGTXTXP2_110
NET  FMC_HPC_DP6_M2C_P         LOC = AF6                       ; # Bank 110                 - MGTXRXP2_110
NET  FMC_HPC_DP6_C2M_N         LOC = AE3                       ; # Bank 110                 - MGTXTXN2_110
NET  FMC_HPC_GBTCLK1_M2C_C_P   LOC = AA8                       ; # Bank 110                 - MGTREFCLK0P_110
NET  FMC_HPC_DP6_M2C_N         LOC = AF5                       ; # Bank 110                 - MGTXRXN2_110
NET  FMC_HPC_GBTCLK1_M2C_C_N   LOC = AA7                       ; # Bank 110                 - MGTREFCLK0N_110
NET  SI5324_OUT_C_N            LOC = AC7                       ; # Bank 110                 - MGTREFCLK1N_110
NET  SI5324_OUT_C_P            LOC = AC8                       ; # Bank 110                 - MGTREFCLK1P_110
NET  FMC_HPC_DP5_C2M_P         LOC = AF2                       ; # Bank 110                 - MGTXTXP1_110
NET  FMC_HPC_DP5_M2C_P         LOC = AG4                       ; # Bank 110                 - MGTXRXP1_110
NET  FMC_HPC_DP5_C2M_N         LOC = AF1                       ; # Bank 110                 - MGTXTXN1_110
NET  FMC_HPC_DP5_M2C_N         LOC = AG3                       ; # Bank 110                 - MGTXRXN1_110
NET  FMC_HPC_DP4_C2M_P         LOC = AH2                       ; # Bank 110                 - MGTXTXP0_110
NET  FMC_HPC_DP4_M2C_P         LOC = AH6                       ; # Bank 110                 - MGTXRXP0_110
NET  FMC_HPC_DP4_C2M_N         LOC = AH1                       ; # Bank 110                 - MGTXTXN0_110
NET  FMC_HPC_DP4_M2C_N         LOC = AH5                       ; # Bank 110                 - MGTXRXN0_110
NET  8N281                     LOC = V2                        ; # Bank 111                 - MGTXTXP3_111
NET  8N261                     LOC = AA4                       ; # Bank 111                 - MGTXRXP3_111
NET  8N278                     LOC = V1                        ; # Bank 111                 - MGTXTXN3_111
NET  8N282                     LOC = AA3                       ; # Bank 111                 - MGTXRXN3_111
NET  SFP_TX_P                  LOC = W4                        ; # Bank 111                 - MGTXTXP2_111
NET  SFP_RX_P                  LOC = Y6                        ; # Bank 111                 - MGTXRXP2_111
NET  SFP_TX_N                  LOC = W3                        ; # Bank 111                 - MGTXTXN2_111
NET  FMC_LPC_GBTCLK0_M2C_C_P   LOC = U8                        ; # Bank 111                 - MGTREFCLK0P_111
NET  SFP_RX_N                  LOC = Y5                        ; # Bank 111                 - MGTXRXN2_111
NET  FMC_LPC_GBTCLK0_M2C_C_N   LOC = U7                        ; # Bank 111                 - MGTREFCLK0N_111
NET  SMA_MGT_REFCLK_N          LOC = W7                        ; # Bank 111                 - MGTREFCLK1N_111
NET  SMA_MGT_REFCLK_P          LOC = W8                        ; # Bank 111                 - MGTREFCLK1P_111
NET  SMA_MGT_TX_P              LOC = Y2                        ; # Bank 111                 - MGTXTXP1_111
NET  SMA_MGT_RX_P              LOC = AB6                       ; # Bank 111                 - MGTXRXP1_111
NET  SMA_MGT_TX_N              LOC = Y1                        ; # Bank 111                 - MGTXTXN1_111
NET  SMA_MGT_RX_N              LOC = AB5                       ; # Bank 111                 - MGTXRXN1_111
NET  FMC_LPC_DP0_C2M_P         LOC = AB2                       ; # Bank 111                 - MGTXTXP0_111
NET  FMC_LPC_DP0_M2C_P         LOC = AC4                       ; # Bank 111                 - MGTXRXP0_111
NET  FMC_LPC_DP0_C2M_N         LOC = AB1                       ; # Bank 111                 - MGTXTXN0_111
NET  FMC_LPC_DP0_M2C_N         LOC = AC3                       ; # Bank 111                 - MGTXRXN0_111
NET  PCIE_TX0_P                LOC = N4                        ; # Bank 112                 - MGTXTXP3_112
NET  PCIE_RX0_P                LOC = P6                        ; # Bank 112                 - MGTXRXP3_112
NET  PCIE_TX0_N                LOC = N3                        ; # Bank 112                 - MGTXTXN3_112
NET  PCIE_RX0_N                LOC = P5                        ; # Bank 112                 - MGTXRXN3_112
NET  PCIE_TX1_P                LOC = P2                        ; # Bank 112                 - MGTXTXP2_112
NET  PCIE_RX1_P                LOC = T6                        ; # Bank 112                 - MGTXRXP2_112
NET  PCIE_TX1_N                LOC = P1                        ; # Bank 112                 - MGTXTXN2_112
NET  PCIE_CLK_QO_P             LOC = N8                        ; # Bank 112                 - MGTREFCLK0P_112
NET  PCIE_RX1_N                LOC = T5                        ; # Bank 112                 - MGTXRXN2_112
NET  PCIE_CLK_QO_N             LOC = N7                        ; # Bank 112                 - MGTREFCLK0N_112
NET  8N91                      LOC = AB9                       ; # Bank 112                 - MGTRREF_112
NET  8N236                     LOC = R7                        ; # Bank 112                 - MGTREFCLK1N_112
NET  8N235                     LOC = R8                        ; # Bank 112                 - MGTREFCLK1P_112
NET  PCIE_TX2_P                LOC = R4                        ; # Bank 112                 - MGTXTXP1_112
NET  PCIE_RX2_P                LOC = U4                        ; # Bank 112                 - MGTXRXP1_112
NET  PCIE_TX2_N                LOC = R3                        ; # Bank 112                 - MGTXTXN1_112
NET  PCIE_RX2_N                LOC = U3                        ; # Bank 112                 - MGTXRXN1_112
NET  PCIE_TX3_P                LOC = T2                        ; # Bank 112                 - MGTXTXP0_112
NET  PCIE_RX3_P                LOC = V6                        ; # Bank 112                 - MGTXRXP0_112
NET  PCIE_TX3_N                LOC = T1                        ; # Bank 112                 - MGTXTXN0_112
NET  PCIE_RX3_N                LOC = V5                        ; # Bank 112                 - MGTXRXN0_112
